body {
    display : grid;
    position: absolute;
    width : 1920px;
    height:1080 px;
    background: rgb(252, 252, 252);
    margin: 0 px;
    padding: 0px;
}

.main {
    background-color: black;
    padding: 10px 20px 10px 20px;
}

.Logo {
    background-color: darkgray;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

